
# Force Bazel to use an environment with a static value for PATH, and not to
# use the LD_LIBRARY_PATH. This makes builds robust to terminal refreshes.
common --incompatible_strict_action_env

# Don't allow tests to access the network by default.
test --sandbox_default_allow_network=false

# Use C++17 standard by default across the whole repo.
build --cxxopt="-std=c++17"

# Ensure that we use toolchains_llvm instead of the host toolchain.
build --action_env="BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1"

# ASAN
build:asan --strip=never
build:asan --copt=-fsanitize=address
build:asan --copt=-O0
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt=-fsanitize=address

# MSAN
build:msan --strip=never
build:msan --copt=-fsanitize=memory
build:msan --copt=-O0
build:msan --copt=-fno-omit-frame-pointer
build:msan --linkopt=-fsanitize=memory

# TSAN
build:tsan --strip=never
build:tsan --copt=-fsanitize=thread
build:tsan --copt=-O0
build:tsan --copt=-fno-omit-frame-pointer
build:tsan --linkopt=-fsanitize=thread
