[submodule "submodules/zenoh"]
	path = submodules/zenoh
	url = https://github.com/asymingt/zenoh.git
[submodule "submodules/zenoh-backend-filesystem"]
	path = submodules/zenoh-backend-filesystem
	url = https://github.com/asymingt/zenoh-backend-filesystem.git
[submodule "submodules/rust-rocksdb"]
	path = submodules/rust-rocksdb
	url = https://github.com/asymingt/rust-rocksdb.git
[submodule "submodules/zenoh-c"]
	path = submodules/zenoh-c
	url = https://github.com/asymingt/zenoh-c.git
[submodule "submodules/zenoh-cpp"]
	path = submodules/zenoh-cpp
	url = https://github.com/asymingt/zenoh-cpp.git
[submodule "submodules/zenoh-pico"]
	path = submodules/zenoh-pico
	url = https://github.com/asymingt/zenoh-pico.git
